@font-face {
    font-family:'Calendas';
    src: url('../fonts/Calendas.eot');
	src: url('../fonts/Calendas.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calendas.woff2') format('woff2'),
		url('../fonts/Calendas.woff') format('woff'),
		url('../fonts/Calendas.ttf') format('truetype'),
		url('../fonts/Calendas.svg#Calendas') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'EB Garamond 08';
    src: url('../fonts/EBGaramond08-Italic.eot');
	src: url('../fonts/EBGaramond08-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EBGaramond08-Italic.woff2') format('woff2'),
		url('../fonts/EBGaramond08-Italic.woff') format('woff'),
		url('../fonts/EBGaramond08-Italic.ttf') format('truetype'),
		url('../fonts/EBGaramond08-Italic.svg#EBGaramond08-Italic') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}



